<section class="inner-banner light-black-bg">
	<div class="auto-container clearfix">
		<div class="title pull-left">
			<h3>Home</h3>
		</div><!-- /.title pull-left -->
		<div class="breadcumb pull-right">
			<ul class="list-inline">
				<li><span>Home</span></li>
			</ul><!-- /.list-inline -->s
		</div><!-- /.breadcumb pull-right -->
	</div><!-- /.auto-container -->
</section><!-- /.inner-banner -->

<section class="fact-counter">
	<div class="auto-container">
		<div class="row">
			<div class="col-md-3" routerLink="/home" routerLinkActive="active">
				<div class=" text-center">
					<img src="./app/img/home.jpg" class="imgf">
					<p class="single-fact-counter"><a routerLink="/home" routerLinkActive="active">Home </a></p>
				</div><!-- /.single-fact-counter -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3" routerLink="/aboutus" routerLinkActive="active">
				<div class=" text-center">
					<img src="./app/img/aboutus.jpg" class="imgf">
					<p class="single-fact-counter"><a routerLink="/aboutus" routerLinkActive="active">About US </a></p>
				</div><!-- /.single-fact-counter -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3" routerLink="/projects" routerLinkActive="active">
				<div class=" text-center">
					<img src="./app/img/projects.jpg" class="imgf">
					<p class="single-fact-counter"><a routerLink="/projects" routerLinkActive="active">Projects </a></p>
				</div><!-- /.single-fact-counter -->
			</div><!-- /.col-md-3 -->
			<div class="col-md-3" routerLink="/projects" routerLinkActive="active">
				<div class=" text-center no-border">
					<img src="./app/img/Services.jpg" class="imgf">
					<p class="single-fact-counter"><a routerLink="/home" routerLinkActive="active">Services </a></p>
				</div><!-- /.single-fact-counter -->
			</div><!-- /.col-md-3 -->
		</div><!-- /.row -->
	</div><!-- /.auto-container -->
</section><!-- /.fact-counter -->



