.imgf{
	    border-radius: 108px !important;
        height: 190px !important;
}
.single-fact-counter{
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}
a {
    color: #323232 !important;   /*#ffffff !important;*/
}