
<section id="top-bar">
  <div class="auto-container clearfix">
    <!-- <div class=" text-center">
      <img src="./app/img/team-yogi_02.jpg" class="imgf">
    </div> -->
    <div class="right-info pull-right">
      <!-- <ul>
        <li>
          <i class="icon-man"></i>
          <a href="#">login</a>
          <a href="#">register</a>
        </li>
      
      </ul> -->
    </div>
  </div>
</section>


<header class="header stricky">
  <div class="auto-container clearfix">
    <div id="menuzord" class="menuzord">
      <a href="index.html" class="menuzord-brand logo"><img src=".\app\img\teamArchiyogi\VASTU-1.jpg" alt="Awesome Image"/></a>

      <ul class="menuzord-menu">
        <li><a routerLink="/home" routerLinkActive="active">Home </a> </li>
        <li> <a routerLink="/aboutus" routerLinkActive="active"> AboutUs  </a></li>
        <li> <a routerLink="/why-Team" routerLinkActive="active"> Why_TeamYogi  </a></li>
        <li>
          <a routerLink="/projects"> Projects </a>
          <ul class="dropdown">
            <li><a href="#">Bungalows</a></li>
            <li><a href="#">Temples</a></li>
            <li><a href="#">Complex</a></li>
            <li><a href="#">Smarak</a></li>
            <li><a href="#">Row House</a></li>
            <li><a href="#">Commercial</a></li>
            <li><a href="#">Others</a></li>
          </ul>
        </li>
      <!--   <li><a href="servies.html">Servies</a></li>     -->   
        <li> <a routerLink="/contactus" routerLinkActive="active"> Contactus  </a></li>
      
      </ul>
    </div>
  </div>
</header>
  



  </div> 

