


<section class="inner-banner light-black-bg">
	<div class="auto-container clearfix">
		<div class="title pull-left">
			<h3>About Us</h3>
		</div><!-- /.title pull-left -->
		<div class="breadcumb pull-right">
			<ul class="list-inline">
				<li><a href="index.html">Home</a></li>
				<li><span>About Us</span></li>
			</ul><!-- /.list-inline -->
		</div><!-- /.breadcumb pull-right -->
	</div><!-- /.auto-container -->
</section><!-- /.inner-banner -->

<section class="latest-news-area blog-page sec-padding single-blog-post">
    <div class="auto-container">
        <div class="row">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<!--Start single  item-->
				<div class="latest-news">
						<img src=".\app\img\teamArchiyogi\owner.jpg"  alt="Awesome Image"/>
					<div class="latest-news-text clearfix">
						<div class="date">
						   <h6>>></h6>
						    
						</div>
						<h4>Architectural Profile</h4>
					</div>
					<div class="latest-text clearfix">
						<br />
						<p>The design team is lead by Mr.Yogesh F. Prabhugaonkar, holding a bachelor's degree in Architecture(Goa University).
							 TeamArchiYogi,the leading goan architecture , vastushastra specialist and interior design firm stated by  Mr.Yogesh F. Prabhugaonkar in 1996 in Ponda and Canacona Goa respectively. 
						</p><br />
						<p> By giving attention to creation of such meaningful interfaces at home office surrounding with a qualitative approach builds up positive forces.
							  Positive force interms of form , function,climate control,vastu,landscapes.This builds and extends peace of mind to you your family.
						</p><br />
						
						<p> TeamArchiYogi architects is experienced in designing,building designs,interior decorating
								 Home plans,apartments design ,Hotel projects,commercial & residential complexes
							</p><br />
						<p>
							His Office is fully equipped with latest technology specialized in vastu and staffed with Architects, civilengineers,contractors, draftsmen,3d visualizer to support and fulfil project completely.
							The full team is under his disposal to help you and realize your dream.

							</p><br />
            <p>
								<a href="Honour!"></a>
						</p><br />
					</div>
					
				</div>
				<!--End single  item-->
			

			

			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				
				
				<div class="single-sidebar">
					<div class="blog-post">
						<div class="title">
							<h3>Projects</h3>
						</div><!-- /.title -->
							<div class="img-box">
										  <div id="myCarousel" class="carousel slide" data-interval="2000" data-ride="carousel">
																	
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
										  <div class="item active">
											<img src=".\app\img\teamArchiyogi\bungalow.jpg" alt="bungalow" style="width:100%;" class="img-responsive">
											<div class="carousel-caption">
													<h3>Prabhu Bunglow </h3>
												 </div>
										  </div>
									
										  <div class="item active">
												<img src=".\app\img\teamArchiyogi\da_w.jpg" alt="bungalow" style="width:100%;" class="img-responsive">
												<div class="carousel-caption">
                                                   <h3> DA-W  </h3>
												</div>
									     	</div>
											
											 <div class="item  ">
													<img src=".\app\img\teamArchiyogi\N PTemple" alt="temple" style="width:100%;" class="img-responsive">
													<div class="carousel-caption">
													   <h3>Narsinha Parshuram Temple </h3>
													</div>
												 </div>
										</div>
								
									  </div>
								</div><!-- /.img-box -->
								<br>
								<div class="img-box">
										  <div id="myCarousel" class="carousel slide" data-ride="carousel">
																	
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
										  <div class="item ">
												<img src=".\app\img\teamArchiyogi\Abhay Mense.jpg" alt="Complex" style="width:100%;">
												<p style="text-align: center"><b> Abhay Mense </b></p>
												</div> 
									
												<div class="item">
													<img src=".\app\img\teamArchiyogi\da_w.jpg" alt="bungalow" style="width:100%;">
													<p style="text-align: center"><b> Da_w </b></p>
													</div>
										
										  <div class="item">
											<img src=".\app\img\teamArchiyogi\bungalow.jpg" alt="bungalow" style="width:100%;">
											<p style="text-align: center"><b> Templet Name </b></p>
										  </div>
										</div>
								
									  </div>
								</div><!-- /.img-box -->
								
						
					</div><!-- /.blog-post -->
				</div><!-- /.single-sidebar -->
			
			</div><!-- /.col-md-3 -->
        </div>
    </div>
</section>





